@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center; padding:50px; background-color: #f8f9fa;">
    <h1 style="font-size: 2.5em; color: #343a40;">Welcome to Telephone Index System</h1>
    <p style="font-size: 1.2em; color: #6c757d;">Your one-stop solution for managing and accessing telephone indices efficiently and effectively.</p>
</div>

<html>
<head>
</head>
<body>
    <center>
        <!--
        <form action="/Phone/Search" method="get">
        <label for="searchTerm">Search:</label>
        <input type="text" id="searchString" name="searchString">
        <input type="submit" value="Submit">
    </form><br /><br>
    -->

        <img src="~/Images/t.jpg" />
    </center>

</body>
</html>