
@{
    ViewBag.Title = "Report";
}

<html>
<br /><br />
<body>
    <center>
        <form action="/Phone/Report" method="get">
            <label for="searchTerm">Search:</label>
            <input type="text" id="searchString" name="searchString">
            <input type="submit" value="SearchReport">
        </form><br /><br>
        <img src="~/Images/t.jpg" />
    </center>
</body>
</html>
